==
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link href="/themes/consorcio-jcj/assets/css/app.css" rel="stylesheet">
    {% styles %}
    {% placeholder head %}
</head>
<body>
    {% partial 'global/nav' %}
    
    {% page %}
    {% partial 'global/footer' %}
    {% scripts %}
    <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    {% framework extras %}
</body>
</html>