description = "Pie de página"
==
<footer class="footer">
  <div class="footer_content">
    <div class="footer__item">
      <h5>Quienes somos</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, illum, ab aspernatur porro voluptate quidem dolorem laudantium reiciendis expedita eius delectus commodi quas deleniti vel nisi ipsum doloremque? Voluptatum, accusantium!</p>
      <ul class="redes_sociales">
        <li><a href="#">0</a></li>
        <li><a href="#">0</a></li>
        <li><a href="#">0</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h5>Ultimos tweits</h5>
      <ul class="twits">
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h5>Instagram</h5>
      <ul class="instagram">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</footer>