description = "Menú flotante"
==
<section class="nav">
    <div class="nav__fixed">
        <div class="nav__content">
            <div class="nav__redes">
              <ul>
              <li><a href="#">0</a></li>
              <li><a href="#">0</a></li>
              <li><a href="#">0</a></li>
              </ul>
            </div>
            <div class="nav__band">
                <div class="band__content">
                    <a class="logo" href="/">
                        <img src="/themes/consorcio-jcj/assets/images/logo-one.png" alt="">
                    </a>
                    <nav>
                        <ul class="nav__nav">
                            <li><a href="#quienes-somos">Quienes somos</a></li>
                            <li><a href="#nuestros-servicios">Nuestros servicios</a></li>
                            <li><a href="#busqueda-inmuebles">Búsqueda de inmuebles</a></li>
                            <li><a href="#contactenos">Contáctenos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>