description = "Menú flotante"
==
<section class="nav">
    <div class="nav__fixed">
        <div class="nav__content">
            <div class="nav__redes">
              <ul>
              <li><a href="#">0</a></li>
              <li><a href="#">0</a></li>
              <li><a href="#">0</a></li>
              </ul>
            </div>
            <div class="nav__band">
                <div class="band__content">
                    <div class="logo">
                        logo
                    </div>
                    <nav>
                        <ul class="nav__nav">
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Nuestros servicios</a></li>
                            <li><a href="#">Búsqueda de inmuebles</a></li>
                            <li><a href="#">Contáctenos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>