description = "Acerca de"
==
<section class="about" id="quienes-somos">
  <div class="about__section-one">
    <h3>Quienes somos</h3>
    <h4>Consorcio inmobiliario JCJ C.A.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, impedit, ex, iusto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, consequatur, facere fugit assumenda tempora quae officia dolore quibusdam veniam reprehenderit ab veritatis eveniet.</p>
    <div class="img"></div>
  </div>
  <div class="about__section-two">
    <div class="about__section-two__item">
      <h4>Misión</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, voluptatibus, laboriosam qui et doloremque itaque vero eos laborum ad consequatur voluptatum laudantium voluptatem sit asperiores veritatis eveniet perferendis quasi rem.</p>
    </div>
    <div class="about__section-two__item">
      <h4>Visión</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, voluptatibus, laboriosam qui et doloremque itaque vero eos laborum ad consequatur voluptatum laudantium voluptatem sit asperiores veritatis eveniet perferendis quasi rem.</p>
    </div>
    <div class="about__section-two__item">
      <h4>Valores</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, voluptatibus, laboriosam qui et doloremque itaque vero eos laborum ad consequatur voluptatum laudantium voluptatem sit asperiores veritatis eveniet perferendis quasi rem.</p>
    </div>
  </div>
</section>