description = "Contactanos"
==
<section class="contact" id="contactenos">
    <div class="contact__content">
      <div class="contact__contenet-left">
        <div class="left__info">
        <h4>Contáctenos</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, molestiae delectus vitae quibusdam.</p>
        </div>
        <p><strong>Lorem ipsum:</strong> dolor sit amet, consectetur adipisicing elit.</p>
        <p><strong>Lorem ipsum:</strong> dolor sit amet, consectetur.</p>
        <p><strong>Lorem ipsum:</strong> dolor sit amet.</p>
      </div>
      <div class="contact__content-right">
        <div class="div__row">
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Correo electrónico">
        </div>
        <div class="div__row">
          <input type="email" placeholder="Asunto">
        </div>
        <div class="div__row">
          <textarea placeholder="Comentario" name=""></textarea>
        </div>
        <div class="div__row">
          <button class="btn-send" type="submit">Enviar mensaje</button>
        </div>
      </div>
    </div>
</section>