description = "Destacados"
==
<section class="important">
    <div class="important__content">
      <div class="important__content-header">
        <h4>Inmuebles destacados</h4>
        <p>Publicaciones recientes en nuestro blog</p>
      </div>
      <div class="important__content-body">
        <div class="important__content-body__item">
          <div class="__item_header" data-inmueble="Apartamento">
            
          </div>
          <div class="__item_body">
            <h4 class="title">Titulo artículo</h4>
            <span class="date">16/10/2017</span>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quas quisquam rem perspiciatis et porro commodi. Rem, hic.</p>
          </div>
        </div>
        <div class="important__content-body__item">
          <div class="__item_header" data-inmueble="Apartamento">
            
          </div>
          <div class="__item_body">
            <h4 class="title">Titulo artículo</h4>
            <span class="date">16/10/2017</span>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quas quisquam rem perspiciatis et porro commodi. Rem, hic.</p>
          </div>
        </div>
        <div class="important__content-body__item">
          <div class="__item_header" data-inmueble="Apartamento">
            
          </div>
          <div class="__item_body">
            <h4 class="title">Titulo artículo</h4>
            <span class="date">16/10/2017</span>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quas quisquam rem perspiciatis et porro commodi. Rem, hic.</p>
          </div>
        </div>
      </div>
    </div>
</section>