description = "Destacados"
==
<?php
use JAlejandroArias\Inmuebles\Models\Inmueble;

function onStart()
{
  $this['inmuebles'] = Inmueble::where('important', 1)->orderBy('updated_at', 'desc')->get()->take(3);
}
?>
==
<section class="important">
    <div class="important__content">
      <div class="important__content-header">
        <h4>Inmuebles destacados</h4>
        <p>Publicaciones destacadas</p>
      </div>
      <div class="important__content-body">
        {% for item in inmuebles %}
          <a class="important__content-body__item" href="/inmueble/{{ item.id }}">
            <div class="__item_header" data-inmueble="{{ item.type.name }}">
              <img src="{{ item.album[0].path }}" alt="{{ item.name }}">
            </div>
            <div class="__item_body">
              <h4 class="title">{{ item.name }}</h4>
              <span class="date">{{ item.created_at |date('M d, Y') }}</span>
              <p class="description">{{ item.description }}</p>
            </div>
          </a>
        {% else %}
          <h5>No hay publicaciones destacadas</h5>
        {% endfor %}
      </div>
    </div>
</section>